<?xml version="1.0" encoding="UTF-8" ?>
<!-- !Copyright -->
<!--
	Project: RettApp
	Description: RettApp is an Open-Source-Project for persons working at a emergency medical service in Germany
	Author: Jonathan Starck 
	Licence: GNU GENERAL PUBLIC LICENSE Version 2, June 1991 & European Union Public Licence
	Source: https://github.com/RettApp/
-->
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "org.rettapp.app"
	versionCode = "100" 
	version     = "1.0.0" >

	<name>
		RettApp
	</name>
	<description>
		RettApp Version für ganz Deutschland. Die RettApp soll für Personen in der Notfallmedizin eine Hilfestellung im Alltag sein. Entwickelt durch einen Rettungsassistenten in Rheinland-Pfalz, der die Idee für diese App nun schon mehrere Jahre verfolgt.
	</description>
	<author href="http://www.rettapp.org/" email="support@rettapp.org">
		Jonathan Starck
	</author>
	
	<preference name="phonegap-version" value="3.3.0" />
	
	<icon src="icon.png" />
	
	<access origin="*" browserOnly="true"/>
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.geolocation" />
</widget>